.base__section {
    width: 1200px;
    margin: 0 auto;
    padding: 30px;


}
.title {
    text-align: center;
    font-size: 18px;
    color: black;
  
}  

.superSection {
        composes: base__section;
        background-color: bisque;
    }